<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

	  <mappers>
	    <mapper resource="board.xml"/>
	    <mapper resource="attraction.xml"/>
	    <mapper resource="user.xml"/>
	  </mappers>    
</configuration>

<!-- 
mapUnderscoreToCamelCase
Mybatis의 DTO(VO) 리턴 값을 Camel Case로 변환시킴


callSettersOnNulls
ResultType 이 HashMap 일 때 값이 null 인 것이 누락되어 나오는데,
 null을 포함시켜 return 하게 한다.

 -->